<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script type="text/javascript" src="/javascripts/animate.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/angular-app.js"></script>
<link href='https://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed|Julius+Sans+One|Londrina+Solid|Dosis|Merriweather|Advent+Pro' rel='stylesheet' type='text/css'>
<body ng-app="mgr">
<header>
  <div class="row">
      <div class="nine columns"><h1 class='title'><%=title%></h1></div>
</header>
<!-- <p class = "welcometext">Welcome to <%=title%></p> -->
</div>
<section>
<article ng-controller="ClientController">
  <div class="row">
    <div class="five columns">&nbsp;</div>
      <div class="three columns"><button type="button" id="addClient">Add Client</button></div>
        <div class="four columns">&nbsp;</div>
      </div>

   <!-- ////////////////////////////////////// C L I E N T - I N P U T S /////////////////////////////
  //                                                                                          //
 ///////////////////////////////////////////////////////////////////////////////////////////// -->
<div id="listedClients">
  <form ng-submit="createClient(businessName, address, neighborhood, emailAddress, phone, plan, contactName, specialInstructions, date)">
    <div class="container">
      <div class="row">
        <div class="three columns">&nbsp;</div>
          <div class="six columns business">&nbsp;<input id="business"type="text" name="businessName" ng-model="businessName" placeholder="Business Name"></div>
            <div class="three columns">&nbsp;</div>
      </div>
        <div class="row">
          <div class="three columns">&nbsp;</div>
            <div class="six columns address">&nbsp;<input id= "address" type="text" name="address" ng-model="address" placeholder="Address"><br></div>
              <div class="three columns">&nbsp;</div>
        </div>
        <div class="row">
          <div class="three columns">&nbsp;</div>
            <div class="six columns neighborhood">&nbsp;<input id= "neighborhood" type="text" name="neighborhood" ng-model="neighborhood" placeholder="Neighborhood"><br></div>
             <div class="three columns">&nbsp;</div>
        </div>
        <div class="row">
          <div class="three columns">&nbsp;</div>
            <div class="six columns email">&nbsp;<input id= "email" type="email" name="emailAddress" ng-model="emailAddress" placeholder="Email Address"><br></div>
              <div class="three columns">&nbsp;</div>
        </div>
        <div class="row">
          <div class="three columns">&nbsp;</div>
            <div class="six columns phone">&nbsp;<input id= "phone" type="text" name="phone" ng-model="phone" placeholder="(888)888-8888"><br></div>
              <div class="three columns">&nbsp;</div>
        </div>
        <div class="row">
          <div class="three columns">&nbsp;</div>
            <div class="six columns plan">&nbsp;<input id="plan" type="text" name="plan" ng-model="plan" placeholder="Plan"><br></div>
              <div class="three columns">&nbsp;</div>
        </div>

        <div class="row">
          <div class="three columns">&nbsp;</div>
            <div class="six columns contact">&nbsp;<input id="contact" type="text" name="contactName" ng-model="contactName" placeholder="Contact Name"><br></div>
              <div class="three columns">&nbsp;</div>
        </div>
        <div class="row">
          <div class="three columns">&nbsp;</div>
            <div class="six columns special">&nbsp;<input id="special" type="text" name="specialInstructions" ng-model="specialInstructions" placeholder="Special Instructions?"><br></div>
              <div class="three columns">&nbsp;</div>
            </div>
            <div class="row">
              <div class="three columns">&nbsp;</div>
                <div class="six columns date">&nbsp;<input id="date" type="text" name="date" ng-model="date" placeholder="Date"><br></div>
                  <div class="three columns">&nbsp;</div>
            </div>
            <div class="row">
              <div class="one-third column">&nbsp;</div>
                <div class="one-third column gobutton"><input type="submit" value="CREATE!"></div>
                  <div class="one-third column">&nbsp;</div>
            </div>
          </div>
      </form>
    </div>
 <!-- /////////////////////////////////// D A T A - B I N D I N G   &    C L I E N T S //////////////
      //                                                                                          //
      ////////////////////////////////////////////////////////////////////////////////////////////// -->
      <div class= "three columns search"><input ng-model="nameText" placeholder="Search..."></div><br/>
      <div class="row">
        <div class="twelve columns">&nbsp;</div><br/>
      <ul>
        <div class="row">
            <li class ="clientslist" ng-repeat = "client in clients | filter:nameText | orderBy:'client'"><div class="row">Business: {{client.businessName}}<br>  Address: {{client.address}}<br>  Neighborhood: {{client.neighborhood}}<br> Email: {{client.emailAddress}} <br> Phone #: {{client.phone}} <br> Plan: {{client.plan}}<br> Contact Name: {{client.contactName}} <br> Special Instructions: {{client.specialInstructions}} <br> Date: {{client.date | date}}
              <br>
                <button ng-click="delete(client)">Delete</button>
              <button ng-click="email(client)">Email</button>&nbsp;</li>
              </div>
            </div>
      </ul>
    </article>
    </section>
<footer class="ib">CREATED BY ISAAC BUENO</footer>
</body>
