<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/angular-app.js"></script>
<link href='https://fonts.googleapis.com/css?family=Oswald|Allan|Poiret+One|Grand+Hotel|Londrina+Solid|Pompiere|Advent+Pro' rel='stylesheet' type='text/css'>
<header><h1 class='title'><%=title%>
<hamburger-toggle state="tgState"></hamburger-toggle>
</header></h1>
<p class = "welcometext">Welcome to <%=title%></p>

<section ng-app="mgr">
<article ng-controller="ClientController">
  <p class = "addclient">Add Client</p>
  <form ng-submit="createClient(businessName, address, neighborhood, emailAddress, phone, plan, contactName, specialInstructions, date)">
    <div class="container">
      <div class="row">
        <div class="one-third column">&nbsp;</div>
          <div class="one-third column">&nbsp;<input type="text" name="businessName" ng-model="businessName" placeholder="Business Name"></div>
            <div class="one-third column">&nbsp;</div>
      </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="text" name="address" ng-model="address" placeholder="Address"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="text" name="neighborhood" ng-model="neighborhood" placeholder="Neighborhood"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="email" name="emailAddress" ng-model="emailAddress" placeholder="Email Address"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="text" name="phone" ng-model="phone" placeholder="(888)888-8888"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="text" name="plan" ng-model="plan" placeholder="Plan"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>

        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="text" name="contactName" ng-model="contactName" placeholder="Contact Name"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="text" name="specialInstructions" ng-model="specialInstructions" placeholder="Special Instructions?"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column">&nbsp;<input type="text" name="date" ng-model="date" placeholder="date"><br></div>
              <div class="one-third column">&nbsp;</div>
        </div>
        <div class="row">
          <div class="one-third column">&nbsp;</div>
            <div class="one-third column gobutton"><input type="submit" value="CREATE!"></div>
              <div class="one-third column">&nbsp;</div>
        </div>
      </div>
  </form>
  <ul>
    <li class = "clientslist" ng-repeat = "client in clients">Business: {{client.businessName}}<br>  Address: {{client.address}}<br>  Neighborhood: {{client.neighborhood}}<br> Email: {{client.emailAddress}} <br> Phone #: {{client.phone}} <br> Plan: {{client.plan}}<br> Contact Name: {{client.contactName}} <br> Special Instructions: {{client.specialInstructions}} <br> Date: {{client.date | date}}<br><button ng-click = "delete(client)">Delete</button></li>
  </ul>
</article>
</section>
