<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
      <script type="text/javascript" src="/javascripts/angular-app.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Oswald|Allan|Poiret+One|Julius+Sans+One|Londrina+Solid|Pompiere|Advent+Pro' rel='stylesheet' type='text/css'>
    </title>
  </head>
  <body>
    <h1>Account Mangaement</h1>
    <div class="row">
      <li><a href="/account/login"></a></li>
      <li><a href="account/register"></a></li>

    </div>

  </body>
</html>
