body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(20, 20, 20, 0.87);
}

a {
  color: #00B7FF;
}
input {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #fff;
  border: 3px solid #D1D1D1;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Merriweather";
  color: grey !important;
}
.gobutton{
  line-height: 0px;
  margin-top: 3%;
  font-size: 30px !important;
  color: rgb(121, 102, 77)
}
button{
  color: rgb(121,102,77);
  margin-top: 5%;
  float: left;
}
h1 {
  font-family: "Advent Pro";
  margin-bottom: 0;
}
p {
  font-family: "Advent Pro";
  font-size: 40px;
}
header {
  width: 100%;
  height: 100% auto;
  color: rgb(121, 102, 77);
}
.clientslist{
  font-family: "Merriweather";
  font-size: 15px;
  float: left;
  padding-right: 5%;
  color: rgba(205, 207, 203, 0.61);
}
.search{
  margin-top: 100px;
  margin-left: 0;
  color: rgb(121, 102, 77);
}
.welcometext{
  text-align: center;
  color: rgb(121, 102, 77);
}
#addClient{
  text-align: center;
  margin-bottom: 0;
  color: rgb(121, 102, 77);
  font-size: 20px;
  font-family: "Oswald";
  font-weight: bold;
  margin-top: 225px;
  margin-bottom: 225px;
  /*display: ;*/
}
#listedClients {
  display: none;
  margin-left: 14%;
  width: 70%;
}
.ib{
  color:rgb(121, 102, 77);
}





@media (max-device-width: 549px){

input {
  margin-top: -100px;
  margin: 0 auto;
  width: 10% !important;
  height: 3px;
  /*padding: 3px;*/
  background-color: #fff;
  border: 3px solid #D1D1D1;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Merriweather";
  color: !important;
}
#addClient{
  text-align: center;
  color: rgb(121, 102, 77);
  font-size: 20px;
  font-family: "Oswald";
  font-weight: bold;
  margin-top: 225px;
  margin-bottom: 225px;
  /*display: ;*/
}
}
